body {
    background-color: #030514; /* Dark Blue background */
    color: #f8f8f8; /* White text for headings and paragraphs */
    padding: 0;
    margin: 0;
    font-family: 'Gotham', sans-serif; /* Optional: sets a default font */
}

html {
    scroll-behavior: smooth;
}

/* Ensuring all headings are white */
h1, h2, h3, h4, h5, h6 {
    color: #f8f8f8;
}

.navbar_wrapper {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.navbar {
    display: flex; /* Use Flexbox for horizontal alignment */
    gap: 5px; /* Spacing between the <h3> elements */
    padding: 20px; /* Optional: Padding around the container */
}

.navbar h3 {
    margin: 0; /* Remove default margin */
    padding: 20px; /* Optional: Padding inside each <h3> */
    color: #BBBBBB;
}

.main_logo {
    position: absolute;
    bottom: 85%;
    right: 90%;
    height: 120px;
    width: 120px;
}

.hero_container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text inside the container */
    height: 100vh; /* Full viewport height */
}

.hero_content {
    display: flex;
    flex-direction: column; /* Stack the images and title vertically */
    align-items: center;
    position: relative;
    top: -150px; /* Adjust this value to move the entire content up or down */
}

.hero_content p {
    color: #D8D8D8;
    text-align: center;
    max-width: 860px;
    margin: 0; /* Remove default margin */
    position: relative;
    top: -20px; /* Adjust this value to move the title down */
    z-index: -2;
    font-weight:500;
}

.hero_image {
    height: 150px;
    width: 750px;
    z-index: -1;
    position: relative;
}

.hero_image.top {
    top: 45px; /* Move the top image up */
    opacity: 0.7;
}

.hero_image.bottom {
    transform: rotate(180deg); /* Flip the image 180 degrees */
    bottom: -30px; /* Move the bottom image down */
    opacity: 0.7;
}

.hero_title {
    font-size: 70px;
    max-width: 900px;
    margin: 0; /* Remove default margin */
    position: relative;
    top: -40px; /* Adjust this value to move the title down */
}

.circle1 {
    width: 600px;
    height: 600px;
    border-radius: 50%; /* Make it a circle */
    background-color: #315BD6;
    opacity: 0.36;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -40%);
    filter: blur(75px); /* Apply a layer blur effect */
    z-index: -5;
}

.circle2 {
    width: 600px;
    height: 600px;
    border-radius: 50%; /* Make it a circle */
    background-color: #315BD6;
    opacity: 0.36;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, 20%);
    filter: blur(75px); /* Apply a layer blur effect */
    z-index: -5;
}

.circle3 {
    width: 800px;
    height: 250px;
    border-radius: 50%; /* Make it a circle */
    background-color: #315BD6;
    opacity: 0.36;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    filter: blur(19px); /* Apply a layer blur effect */
    z-index: -5;
}